<head>
  <% if (typeof pagename !== "undefined") { %>
  <title><%=pagename%> - <%=NAME%></title>
  <% } else { %>
  <title><%=NAME%></title>
  <% } %>
  <link rel="stylesheet" href="/style.css?v=<%=v%>">
  <!-- standard multiple favicon sizes served from /favicon/ directory -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=<%=v%>">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=<%=v%>">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=<%=v%>">
  <link rel="manifest" href="/favicon/site.webmanifest?v=<%=v%>">
  <link rel="shortcut icon" href="/favicon/favicon.ico?v=<%=v%>">
</head>
